{% extends "tpanel/base.html" %}
{% block content %}
    <div class="text">
        <form action="{% url 'profile' %}" method="post" class="SPA-form">
            {% csrf_token %}
            {{ user_form }}
            {{ profile_form }}
            <input type="hidden" name="next" value="{{ next }}" />
            <button type="submit">Сохранить изменения</button>
        </form>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        successHandler = function (response) {
            alert("Спасибо, что обратились к нам " + response.name);
        }
    </script>
    {{ block.super }}
{% endblock %}