.center {
    text-align: center;
    align-items: center;
}

.wrapper{
  margin-top: 100px;
}

.team{
  display: flex;
  justify-content: center;
  width: auto;
  text-align: center;
  flex-wrap: wrap;
}

.team .team_member{
  transition: var(--tran-03);
  background: var(--sidebar-color);
  margin: 5px 5px 80px;
  width: 280px;
  padding: 20px;
  line-height: 20px;
  position: relative;
}

.team .team_member .name{
  color: var(--text-color);
  font-size: 26px;
  margin-top: 50px;
}

.team .team_member p.role{
  color: var(--text-color);
  margin: 12px 0;
  font-size: 12px;
  text-transform: uppercase;
}
.team .team_member p.about {
    color: var(--text-color);
    font-size: 18px;
}

.team .team_member .member_img{
  position: absolute;
  top: -70px;
  left: 50%;
  transform: translateX(-50%);
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background: #fff;
}

.team .team_member .member_img img{
  border-radius: 50%;
  width: 130px;
  height: 130px;
  padding: 5px;
}
