form {
    width: 30vw;
    max-width: 400px;
}
button:hover{
    background-color: var(--primary-color);
}
input {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
}


label {
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: left;
    color: var(--text-color);
    font-weight: bold;
}

button {
    padding: 15px;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    color: white;
    cursor: pointer;
    background-color: var(--primary-color);
    width: 100%;
    font-size: 16px;
}

.wrap {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}