/* Full-width inputs */
.Input {
    display: block;
    width: 100%;
    min-width: 170px;
    margin-bottom: 15px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.Label {
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: left;
    color: var(--text-color);
    font-weight: bold;
}

/* Set a style for all buttons */
.Button {
    padding: 15px;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    color: white;
    cursor: pointer;
    background-color: var(--primary-color);
    width: 100%;
    min-width: 170px;
    font-size: 16px;
}

/* Add a hover effect for buttons */
.Button:hover {
    opacity: 0.8;
}

/* Add padding to containers */
.container {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Form {
    width: 30vw;
    max-width: 400px;
}
.H2 {
    margin-bottom: 1vh;
}