{% load static %}
{% load auth_extras %}
<!DOCTYPE html>
<html lang="ru">
<head>
    {% block head %}

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% if title %}
            <title>ПРОЕКТ - {{title}}</title>
        {% else %}
            <title>ПРОЕКТ</title>
        {% endif %}

        <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        {% block favicons %}
            <link rel="manifest" href="{% static 'icons/main_favicons/site.webmanifest' %}">
            <link rel="apple-touch-icon" sizes="180x180" href="{% static 'icons/main_favicons/apple-touch-icon.png' %}">
            <link rel="icon" type="image/png" sizes="32x32" href="{% static 'icons/main_favicons/favicon-32x32.png' %}">
            <link rel="icon" type="image/png" sizes="16x16" href="{% static 'icons/main_favicons/favicon-16x16.png' %}">
        {% endblock %}

    {% endblock %}
</head>
<body>
    <nav class="sidebar close">
        <header>
            <div class="image-text">
                <div class="text logo-text">
                    <span class="name">TPanel</span>
                </div>
            </div>
            <i class='bx bx-chevron-right toggle'></i>
        </header>
        <div class="menu-bar">
            <div class="menu">
                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="/" class="SPA-link">
                            <i class='bx bx-home-alt icon'></i>
                            <span class="text nav-text">Главная</span>
                        </a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-link">
                        <a href="notifications" class="SPA-link">
                            <i class='bx bx-bell icon'></i>
                            <span class="text nav-text">Уведомления</span>
                        </a>
                    </li>
                    {% if user|is_student %}
                    <li class="nav-link">
                        <a href="tasks" class="SPA-link">
                            <i class='bx bxs-copy-alt icon'></i>
                            <span class="text nav-text">Мои задания</span>
                        </a>
                    </li>
                    {% endif %}
                    <li class="nav-link">
                        <a href="mail" class="SPA-link">
                            <i class='bx bx-envelope icon'></i>
                            <span class="text nav-text">Почта</span>
                        </a>
                    </li>
                    {% endif %}
                    {% if user.is_staff %}
                    <li class="nav-link">
                        <a href="/admin/">
                            <i class='bx bx-code-alt icon'></i>
                            <span class="text nav-text">Админка</span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
            <div class="bottom-content">
                <ul>
                    {% if user.is_authenticated %}
                    <li class="nav-link">
                        <a href="/profile" class="SPA-link">
                            <i class='bx bx-user icon'></i>
                            <span class="text nav-text">Профиль</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <form action="{% url 'logout' %}" method="post" class="SPA-form">
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{{ next }}" />
                            <button type="submit">
                                <i class='bx bx-log-out icon' ></i>
                                <span class="text nav-text">Выйти</span>
                            </button>
                        </form>
                    </li>
                    {% else %}
                        <li class="nav-link">
                            <a href="{% url 'login' %}" class="SPA-link">
                                <i class='bx bx-log-in icon' ></i>
                                <span class="text nav-text">Войти</span>
                            </a>
                        </li>
                    {% endif %}
                    <li class="mode">
                        <div class="sun-moon">
                            <i class='bx bx-moon icon moon'></i>
                            <i class='bx bx-sun icon sun'></i>
                        </div>
                        <span class="mode-text text">Темная тема</span>
                        <div class="toggle-switch">
                            <span class="switch"></span>
                        </div>
                    </li>
                </ul>
                
            </div>
        </div>
    </nav>
    <main class="home" id="content">
        {% block content %}
        {% endblock %}
    </main>
    {% block scripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="{% static 'js/SPA.js' %}"></script>
        <script>
        const body = document.querySelector('body')
        const sidebar = body.querySelector('nav'),
                  toggle = body.querySelector(".toggle");
            toggle.addEventListener("click" , () =>{
                sidebar.classList.toggle("close");
            })
        </script>
        <script src="{% static 'js/themes.js' %}"></script>
    {% endblock %}
</body>
</html>