{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    {% block head %}

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% if title %}
            <title>ПРОЕКТ - {{title}}</title>
        {% else %}
            <title>ПРОЕКТ</title>
        {% endif %}

        <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        {% block favicons %}
            <link rel="manifest" href="{% static 'icons/main_favicons/site.webmanifest' %}">
            <link rel="apple-touch-icon" sizes="180x180" href="{% static 'icons/main_favicons/apple-touch-icon.png' %}">
            <link rel="icon" type="image/png" sizes="32x32" href="{% static 'icons/main_favicons/favicon-32x32.png' %}">
            <link rel="icon" type="image/png" sizes="16x16" href="{% static 'icons/main_favicons/favicon-16x16.png' %}">
        {% endblock %}

    {% endblock %}
</head>
<body>
    <nav class="sidebar close">
        <header>
            <div class="image-text">
                <span class="image">
                    <!--<img src="logo.png" alt="">-->
                </span>
                <div class="text logo-text">
                    <span class="name">TPanel</span>
                </div>
            </div>
            <i class='bx bx-chevron-right toggle'></i>
        </header>
        <div class="menu-bar">
            <div class="menu">
                <ul class="menu-links">
                    <li class="nav-link">
{#                        <button data-page="/?not_reload=true" class="pages">#}
{#                            <i class='bx bx-home-alt icon' ></i>#}
{#                            <span class="text nav-text">Главная</span>#}
{#                        </button>#}
                        <a href="/" class="link">
                            <i class='bx bx-home-alt icon'></i>
                            <span class="text nav-text">Главная</span>
                        </a>
                    </li>
                    <li class="nav-link">
{#                        <button data-page="notifications?not_reload=true" class="pages">#}
{#                            <i class='bx bx-bell icon'></i>#}
{#                            <span class="text nav-text">Уведомления</span>#}
{#                        </button>#}
                        <a href="notifications" class="link">
                            <i class='bx bx-bell icon' data-link></i>
                            <span class="text nav-text" data-link>Уведомления</span>
                        </a>
                    </li>
                    <li class="nav-link">
{#                        <button data-page="tasks?not_reload=true" class="pages">#}
{#                            <i class='bx bxs-copy-alt icon' ></i>#}
{#                            <span class="text nav-text">Мои задания</span>#}
{#                        </button>#}
                        <a href="tasks" class="link">
                            <i class='bx bxs-copy-alt icon' data-link></i>
                            <span class="text nav-text" data-link>Мои задания</span>
                        </a>
                    </li>
                    <li class="nav-link">
{#                        <button data-page="mail?not_reload=true" class="pages">#}
{#                            <i class='bx bx-envelope icon'></i>#}
{#                            <span class="text nav-text">Почта</span>#}
{#                        </button>#}
                        <a href="mail" class="link">
                            <i class='bx bx-envelope icon' data-link></i>
                            <span class="text nav-text" data-link>Почта</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="bottom-content">
                <ul>
                    <li class="">
                        <a href="#">
                            <i class='bx bx-log-out icon' ></i>
                            <span class="text nav-text">Выйти</span>
                        </a>
                    </li>
                    <li class="mode">
                        <div class="sun-moon">
                            <i class='bx bx-moon icon moon'></i>
                            <i class='bx bx-sun icon sun'></i>
                        </div>
                        <span class="mode-text text">Темная тема</span>
                        <div class="toggle-switch">
                            <span class="switch"></span>
                        </div>
                    </li>
                </ul>
                
            </div>
        </div>
    </nav>
    <main class="home" id="content">
        {% block content %}
        {% endblock %}
    </main>
    {% block scripts %}
        <script src="{% static 'js/SPA.js' %}"></script>
        <script src="{% static 'js/themes.js' %}"></script>
        <script>
            var sidebar = body.querySelector('nav'),
                  toggle = body.querySelector(".toggle");
            toggle.addEventListener("click" , () =>{
                sidebar.classList.toggle("close");
            })
        </script>
    {% endblock %}
</body>
</html>